.admin-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 80vh;
}
.admin-container > * {
  padding: 20px;
}
.admin-container .sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.admin-container .admin-content {
  grid-column: span 3;
}
.admin-links,
.sub-admin-links {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.admin-links {
  height: 100%;
}
.admin-links > li:last-child {
  margin-top: auto;
}
.sub-admin-links {
  margin-top: 10px;
  margin-left: 15px;
}

.admin-links a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 15px;
}
.admin-links a:hover {
  text-decoration: underline;
}
