.admin-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 80vh;
}
.admin-container > * {
  padding: 20px;
}
.admin-container .sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.admin-container .admin-content {
  grid-column: span 3;
}
.admin-links,
.sub-admin-links {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.admin-links {
  height: 100%;
}
.admin-links > li:last-child {
  margin-top: auto;
}
.sub-admin-links {
  margin-top: 10px;
  margin-left: 15px;
}

.admin-links a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.admin-links a:hover {
  text-decoration: underline;
}

/* Dashboard Styles */
.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 350px;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px 5px;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}

.dashboard {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.dashboard-content {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  font-size: 1.5em;
}
@media screen and (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  /* Header */
  .sitebrand {
    max-width: 100%;
    height: auto;
  }

  .site-header nav ul li a {
    margin-left: 10px;
    font-size: 14px;
  }

  /* Admin Container */
  .admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the admin container height to fill the viewport */
  }

  .sidebar {
    flex: 90px; /* Set the sidebar width to 80px in small devices */
    overflow-y: auto; /* Enable scrolling if the sidebar content exceeds its height */
    margin-bottom: 20px;
    margin: 15px 20px 0px;
    border-radius: 15px;
  }

  .admin-content {
    flex-grow: 1; /* Allow the admin content to grow and take up remaining space */
    overflow: auto; /* Enable scrolling if the content overflows */
    padding-bottom: 100px; /* Add some padding at the bottom to create space for the footer */
  }

  /* Sidebar Content */
  .admin-links a {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    gap: 10px;
    font-size: 0.9em;
  }

  .admin-links a i {
    font-size: 20px; /* Adjust the icon size */
    color: inherit; /* Set the icon color */
  }

  /* Footer */
  .site-footer .footer-inner {
    display: block;
    text-align: center;
  }

  .site-footer .footer-item {
    margin-bottom: 20px;
  }

  .connect-container {
    display: flex;
    justify-content: center;
  }

  .dashboard-content {
    font-size: 1.2em;
    border-radius: 30px;
  }
}
